.preview-header {
    font-family: Roboto, serif;
}

.preview-label {
    font-size: 18px;
    letter-spacing: 0;
}

.preview-values {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
}
